//Less vars

//colors
@white-color: #ffffff;
@main-blue-color: #42a410;
@main-black-color: #333030;
@light-gray-color: #dadada;
@light-background-color: #ffffff;
@dark-background-color: #e8f6d6;

//for media
@mobile-screen: 575px;
@breakpoint-1: 796px;
@breakpoint-for-header: 982px;

