@import "_mixins.less";
@import "_vars.less";
@import "normalize.css";


//СБРОС
a,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
}


//ОБЩИЕ
body {
    width: 100%;
    min-width: calc(@mobile-screen - 20px);
    max-width: 1400px;
    margin: auto;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Philosopher', sans-serif;
    color: @main-black-color;
    text-align: center;
}
.h2 {
    margin: 0 0 40px 0;

    font-weight: 700;
    font-size: 48px;
    color: @main-blue-color;
    text-transform: uppercase;
}
.h3 {
    margin: 0 0 25px 0;

    font-size: 30px;
    color: @main-blue-color;
    text-transform: none;
}
.block-light {
    .flex-col();
    width: 80%;
    padding: 90px 10%;

    background-color: @light-background-color;

    @media(max-width: @mobile-screen) {
        width: calc(100% - 80px);
        padding: 50px 40px;
    }
}
.block-dark {
    .flex-col();
    width: 80%;
    padding: 90px 10%;

    background-color: @dark-background-color;

    @media(max-width: @mobile-screen) {
        width: calc(100% - 80px);
        padding: 50px 40px;
    }
}
.separator {
    width: 200px;
    height: 1px;
    margin-bottom: 20px;

    background-color: @main-blue-color;
}

//year-list
.year-list {
    .flex-row();
    width: 100%;

    text-align: left;

    @media(max-width: 796px) {
        .flex-col();
    }

    &__item {
        .flex-col(flex-start, flex-start);
        width: calc(50% - 20px);

        @media(max-width: 796px) {
            .flex-col(flex-start, center);
            width: 100%;

            text-align: center;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
    &__year {
        margin: 0;

        font-weight: 700;
        color: @main-black-color;
        white-space: nowrap;
    }
}
