@import "_mixins.less";
@import "_vars.less";
@import "normalize.css";


//СБРОС
a {
    text-decoration: none;

    &:hover {
        color: @main-color;
    }
}


//ОБЩИЕ
.body {
    width: 100%;
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    color: @dark-color;
}


//burger-icon
.burger-icon {
    float: right;
    width: 25px;
    height: 17px;
    margin: 17px 15px;

    background-image: url("../../images/burger-icon.svg");

    &:hover {
        background-image: url("../../images/burger-icon_hover.svg");
        cursor: pointer;
    }

    @media (min-width: @breakpoint-for-desktop) {
        margin: 33px 32px;
    }
}


//nav-content
.nav-content {
    position: fixed;
    right: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100% - 30px);
    height: calc(100% - 46px);

    padding: 17px 15px 29px 15px;

    box-shadow: 0 10px 20px 0 rgba(12, 6, 57, 0.1);
    overflow-y: auto;

    @media (min-width: @breakpoint-for-desktop) {
        width: 350px;
        height: calc(100% - 103px);
        padding: 33px 32px 70px 32px;
    }
}
.nav-content__top-part {
    display: flex;
    flex-direction: column;
    width: 100%;
}

//nav-header
.nav-header {
    display: flex;

    width: 100%;
    height: auto;
    min-height: 46px;

    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: @breakpoint-for-desktop) {
        height: 138px;
    }
}

.lang {
    display: flex;
    flex-direction: column;

    width: 60px;
    margin: 0;
    padding: 0;
    padding-left: 15px;

    justify-content: space-between;
    list-style-type: none;

    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.26px;
}

.lang__item {
    display: flex;

    width: 60px;
    margin-bottom: 26px;

    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrow-down {
    width: 9.1px;
    height: 5.6px;

    background: url("../../images/arrow-down.svg") center no-repeat;
}

.arrow-up {
    width: 9.1px;
    height: 5.6px;

    background: url("../../images/arrow-up.svg") center no-repeat;
}

.nav-header__search-form-wrapper {
    display: flex;
    position: relative;
    bottom: 11px;

    width: calc(100% - 40px);
    height: 18px;
    padding: 11px;

    justify-content: space-between;

    border-bottom: 1px solid #c4d6e4;
}


.nav-header__search-form {
    width: calc(100% - 36px);

    border: none;

    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;

    &::-ms-clear {
        display: none;
    }

    &::-webkit-input-placeholder {
        color: @placeholder-color;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
    }

    &::-moz-placeholder {
        color: @placeholder-color;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
    }

    &:focus {
        outline: none;
    }
}

.nav-header__cross {
    width: 16px;
    height: 16px;
}

.nav-header__search,
.nav-header__arrow-big-right {
    cursor: pointer;
}

.nav-header__search {

    margin-right: 27px;

    @media (min-width: @breakpoint-for-desktop) {
        margin-right: 38px;
    }
}

.nav-header__right-part {
    display: flex;
    justify-content: flex-end;
}


//nav-footer
.nav-footer {
    width: (100% - 15px);
    height: 53px;
    padding-left: 15px;
    padding-top: 29px;

    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    text-align: left;

    @media (min-width: @breakpoint-for-desktop) {
        bottom: 70px;
    }
}

.nav-footer__item:first-child {
    margin-bottom: 15px;
}

.nav-footer-icon {
    width: 11px;
    height: 11px;
}


//nav-list
.nav-list {
    width: 100%;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
}

.nav-list__item {
    display: flex;

    width: calc(100% - 30px);
    padding: 0 15px;

    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    &:first-child {
        border-top: @light-color solid 1px;
    }
}

.nav-list__item-title {

    height: 35px;
    padding-top: 15px;

    color: @dark-color;
    border-bottom: @light-color solid 1px;
    font-size: 17px;
}

.nav-list__item-arrow-right {
    padding-top: 5.5px;
    float: right;
}

.nav-list__item-arrow-left {
    padding-right: 4.5px;
    padding-bottom: 1.3px;
}

.nav-list-second-level {
    margin-top: 9px;
    padding-left: 0;

    list-style-type: none;

    font-size: 15px;
}

.nav-list-second-level__item {
    width: 100%;

    & a {
        display: block;
        width: 100%;
        height: 19px;
        padding: 13px 15px;

        color: @dark-color;
    }

    & a:hover {
        color: @main-color;
    }
}

.nav-list-second-level__arrow {
    padding-left: 10px;
    padding-bottom: 1px;
}

.nav-list-third-level {
    padding-left: 20px;
    list-style-type: none;

    font-size: 13px;
}

.nav-list-third-level__item {
    & a {
        padding: 10px 15px;
    }
}



//ОБЩИЕ
.display-none {
    display: none;
    width: 0;
}

.hidden {
    visibility: hidden;
}
